.body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.courses{
    display: flex;
    flex-direction: row;
  }

 .float-child{
    display: inline-flex;
    padding: 40px 0;
    margin: auto;
  }
  
  .float-child button{
    padding: 12px 20px 12px 20px;
    border: 2px solid #ffffff;
    border-radius: 30px 30px 30px 30px;
    margin-top: 90px;
    background-color: black;
    color: white;
    float: left;
  }
  
  .col-25{
    float: left;
    clear: left;
    padding: 0 60px;
  }
  
  .col-50{
    float: left;
    clear: left;
    padding: 0 60px;
  }
  
  .col-75{
    float: right;
    clear: left;
    padding: 0 60px;
  }
  
  .col-25 label{
    float: left;
    clear: left;
  }
  
  .col-50 label{
    float: left;
    clear: left;
  }
  
  .col-75 label{
    float: right;
    clear: left;
  }
  
  .float-child button:hover{
    color: #33BEAF;
  }
  
  .courses h1{
    position: absolute;
    padding: 24px;
    margin: 15px;
    font-size: 2.7rem;
    font-weight: bold;
  }
  
  .courses h5{
    position: absolute;
    color: #96999E;
    font-size: 1.2rem;
  }

  span{
    color: #33BEAF;
  }

  .section form{
    display: inline-flex;
    width: 800px;
    height: 1100px;
    background-color: #fff;
    border-radius: 16px;
  }

  .create button{
    position: relative;
    margin: 40px;
    color: #33BEAF;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 15px;
    border: 2px solid #33BEAF;
    border-radius: 12px 12px;
    box-shadow: 4px 2px 4px 2px #96999E;
  }

  .lesson form{
    display: flex;
    background-color: #fff;
    width: 720px;
    height: 600px;
    box-shadow: 4px 2px 4px 2px #96999E;
    margin-top: 130px;
    margin-left: 40px;
    border-radius: 12px;
  }

  .lesson input[type=text]{
    display: flex;
    padding: 10px 12px;
    font: 1.5rem bold;
    background-color: #fff;
    box-shadow: 4px 2px 4px 2px #96999E;
    margin: 45px;
    width: 710px;
    height: 60px;
    border-radius: 8px 8px;
  }

  input::-webkit-input-placeholder{
    color: #333;
    padding: 18px;
    font-weight: bold;
  }