.body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.courses{
    display: flex;
    flex-direction: row;
    margin: auto;
    top: -52rem;
    left: 22rem;
    position: relative;
  }

 .float-child{
    display: inline-flex;
    padding: 1rem 2rem;
    margin: auto;
  }

  .onclick{
    display: inline;
    position: relative;
    border-radius: 6rem;
    background-color: #000000;
    color: #ffffffff;
    top: -10%;
    width: 4.4rem;
    height: 4.4rem;
    margin-top: 7rem;
  }
  
  .col-25{
    float: left;
    clear: left;
    padding: 0 60px;
  }
  
  .col-50{
    float: left;
    clear: left;
    padding: 0 60px;
  }
  
  .col-75{
    float: right;
    clear: left;
    padding: 0 60px;
  }
  
  .col-25 label{
    float: left;
    clear: left;
  }
  
  .col-50 label{
    float: left;
    clear: left;
  }
  
  .col-75 label{
    float: right;
    clear: left;
  }
  
  .float-child button:hover{
    color: #33BEAF;
  }
  
  .courses h1{
    position: absolute;
    padding: 24px;
    margin: 15px;
    font-size: 2.7rem;
    font-weight: bold;
  }
  
  .courses h5{
    position: absolute;
    color: #96999E;
    font-size: 1.2rem;
  }

  span{
    color: #33BEAF;
  }

  .section form{
    display: inline-flex;
    width: 800px;
    height: 1100px;
    background-color: #fff;
    border-radius: 16px;
  }

  .create Button{
    position: relative;
    margin: 40px;
    color: #33BEAF;
    font-weight: bold;
    width: 12rem;
    height: 4rem;
    font-size: 1.3rem;
    padding: 15px;
    border: 2px solid #33BEAF;
    border-radius: 12px 12px;
    box-shadow: 4px 2px #96999E;
  }


  .container input[type="button"]{
    display: flex;
    padding: 1rem 2.7rem;
    font-size: 1.3rem;
    box-shadow: 4px 2px 4px 2px #96999E;
    border: none;
    border-radius: 4px 4px;
    margin-top: 400px;
    width: 8rem;
    height: 4rem;
  }

  .lesson form{
    display: flex;
    background-color: #fff;
    width: 720px;
    height: 600px;
    box-shadow: 4px 2px 4px 2px #96999E;
    margin-top: 130px;
    margin-left: 40px;
    border-radius: 12px;
  }

  .lesson input[type=text]{
    display: flex;
    padding: 10px 12px;
    font: 1.5rem bold;
    background-color: #fff;
    box-shadow: 4px 2px 4px 2px #96999E;
    margin: 45px;
    width: 710px;
    height: 60px;
    border-radius: 8px 8px;
  }

  input::-webkit-input-placeholder{
    color: #333;
    padding: 18px;
    font-weight: bold;
  }

  .grid-child{
    display: inline-block;
    margin-left: 14rem;
    padding-left: 5rem;
  }
  
  .grid-child form{
    width: 50%;
    padding: 20px;
    margin-top: 90px;
    margin-left: 40px;
    float: left;
    background-color: #fff;
    width: 600px;
    height: 700px;
    border: none;
    border-radius: 12px 12px;
  }
  
  .grid-child form h2{
      margin: 25px 26px;
      padding: 12px 30px;
      font-size: 2.22rem;
      font-weight: bold;
  }
  
  .grid-child form .imp{
    margin: auto 12px;
    padding: 12px 20px;
  }
  
  .grid-child form .imp li{
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: bold;
  }