body{
    background-color: aliceblue;
}

.main{
    display: flex;
    flex-direction: row;
    margin-top: auto 50px;
    justify-content: center;
}

.main form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    margin-top: 120px;
    padding: 50px;
    width: 700px;
    height: 800px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 4px 2px 4px 2px gray;
}

.main form h1{
    display: flex;
    align-items: flex-start;
    font-size: 2.1rem;
    color: #33BEAF;
    font-weight: bold;
}

.main form p{
    color: #aaa;
    font-size: 1.3rem;
    margin-top: 14px;
}

.main form label{
    color: #000;
    font-size: 1.25rem;
    margin-top: 14px;
}

.main form input{
    display: inline-block;
    width: 600px;
    padding: 10px 10px 10px 16px;
    background-color: #96999E;
    height: 77px;
    border: none;
    font-size: 1.4rem;
    color: white;
    border-radius: 8px 8px;
    margin-top: 12px;
    box-shadow: 4px 2px 4px 2px #aaa;
}

.main form input[type="Submit"]{
    position: relative;
    background-color: #33BEAF;
    color: black;
    margin-top: 222px;
    width: 600px;
    padding: 14px 7px 14px 7px;
    height: 20%;
    border: none;
    border-radius: 8px 8px;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 4px 2px 4px 2px #aaa;
}

input::-webkit-input-placeholder{
    color: #fff;
    font-size: 1.3rem;
}

.main form .return{
    display: inline;
    padding: 12px 20px;
    font-size: 1.2rem;
    margin-top: 14px;
}