.profile-image{
    background-color: aqua;
    width: 70%;
    margin: auto;
    padding: 10px;
    display: inline-block;
}
.profile-image img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.profile-image button{
    width: 80px;
    height: 30px;
    float: right;
}
.personal-details{
    background-color: aqua;
    width: 70%;
    margin: auto;
    padding: 10px;
    display: inline-block;
}
.personal-details h2{
    text-align: left;
    font-size: large;
}

.personal-details .details{
    display: grid;

}