.login{
    display: flex;
    flex-direction: row;
}
.login form{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    width: 500px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 20px 20px 50px 15px grey;
    
}
.loginimg{
    box-shadow: 20px 20px #33BEAF;
    border-radius: 39px;
}
.login form label{
    margin-top: 25px;
}
.login form input{
    width: 450px;
    height: 30px;
}
.login form input[type="email"], .login form input[type="password"]{
    background-color: #96999E;
    color: black;
    border: none;
    box-shadow: none;
    
}
.login form a{
    text-align: right;
    text-decoration: none;
    color: black
}
.logbuttons button{
    width: 120px;
}
.login form input[type="submit"]{
    background-color: #33BEAF;
    color: black;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    margin-top: 30px;
}

.login .carousal{
    width: 500px;
    height: 400px;
}
.login .carousal img{
    width: 500px;
    height: 400px;
}